.movie-card {
  border: solid 0.5px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  margin: 1rem;
  img {
    width: 17.5rem;
    height: 26rem;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }
}

.movie-card-rating {
  text-align: right;
}

.movie-card-title {
  max-width: 9rem;
}

.fa-star {
  margin: 0 0.2rem;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
