.layout {
  display: grid;
  grid-template-columns: $nav-width 1fr;
  grid-template-rows: $header-height 1fr;
}

.main {
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}
