.header {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;

  & .fas {
    padding-right: 1rem;
  }

  & .header-link {
    color: white;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }

  & .title {
    text-transform: uppercase;
  }

  & .user-container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  & .user-welcome {
    font-size: 1.4rem;
    margin-right: 2rem;
    text-transform: uppercase;
  }
}
